---
// Simple React test page
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>React Test</title>
  </head>
  <body>
    <div id="react-test">
      <h1>Testing React</h1>
      <p>If you see this, React is working!</p>
    </div>
  </body>
</html>